<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <type name="Webkul\JobBoard\Logger\Handler">-->
<!--        <arguments>-->
<!--            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <type name="Webkul\JobBoard\Logger\Logger">-->
<!--        <arguments>-->
<!--            <argument name="name" xsi:type="string">jobboard</argument>-->
<!--            <argument name="handlers" xsi:type="array">-->
<!--                <item name="system" xsi:type="object">Webkul\JobBoard\Logger\Handler</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <preference for="Webkul\JobBoard\Api\JobRepositoryInterface" type="Webkul\JobBoard\Model\JobRepository"/>-->
<!--    <preference for="Webkul\JobBoard\Api\Data\JobInterface" type="Webkul\JobBoard\Model\Data\Job"/>-->
<!--    <preference for="Webkul\JobBoard\Api\Data\JobSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>-->

<!--    <preference for="DCKAP\JobBoard\Api\CategoryRepositoryInterface" type="DCKAP\JobBoard\Model\CategoryRepository"/>-->
<!--    <preference for="DCKAP\JobBoard\Api\Data\CategoryInterface" type="DCKAP\JobBoard\Model\Data\Category"/>-->
<!--    <preference for="DCKAP\JobBoard\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>-->

<!--    <preference for="Webkul\JobBoard\Api\ApplicationRepositoryInterface" type="Webkul\JobBoard\Model\ApplicationRepository"/>-->
<!--    <preference for="Webkul\JobBoard\Api\Data\ApplicationInterface" type="Webkul\JobBoard\Model\Data\Application"/>-->
<!--    <preference for="Webkul\JobBoard\Api\Data\ApplicationSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="newmodule_customer_list_data_source" xsi:type="string">DCKAP\NewModule\Model\ResourceModel\Customer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

<!--    <type name="Webkul\JobBoard\Model\ResourceModel\Job\Grid\Collection">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">wk_jobboard_job</argument>-->
<!--            <argument name="eventPrefix" xsi:type="string">jobboard_job_grid_collection</argument>-->
<!--            <argument name="eventObject" xsi:type="string">jobboard_job_grid_collection</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Webkul\JobBoard\Model\ResourceModel\Job</argument>-->
<!--        </arguments>-->
<!--    </type>-->

    <type name="DCKAP\NewModule\Model\ResourceModel\Customer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_table</argument>
            <argument name="eventPrefix" xsi:type="string">newmodule_customer_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">newmodule_customer_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">DCKAP\NewModule\Model\ResourceModel\Post</argument>
        </arguments>
    </type>

<!--    <type name="Webkul\JobBoard\Model\ResourceModel\Application\Grid\Collection">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">wk_jobboard_application</argument>-->
<!--            <argument name="eventPrefix" xsi:type="string">jobboard_application_grid_collection</argument>-->
<!--            <argument name="eventObject" xsi:type="string">jobboard_application_grid_collection</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Webkul\JobBoard\Model\ResourceModel\Application</argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <type name="Magento\Cms\Helper\Wysiwyg\Images">-->
<!--        <plugin name="Webkul_Jobboard_Wyiswyg" type="Webkul\JobBoard\Plugin\Helper\Wysiwyg\Images" disabled="false"/>-->
<!--    </type>-->
</config>
